* { 
   box-sizing: border-box;
}

h1 { 
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
#cajaReloj{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(95, 42, 42);
}
#reloj{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
}